on:
  # trigger on pushes to the master branch and 1-alpha
  push:
    branches:
      - master
      - main
      - 1-alpha
  # trigger on all pull requests
  pull_request:
  # enable manual triggering
  workflow_dispatch:

name: CI

jobs:

  build:
    name: Build and Test
    runs-on: ubuntu-latest
    env: {"RUSTFLAGS": "-D warnings"}
    strategy:
      matrix:
        toolchain:
          - "1.56"
          - "nightly"
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}

      # Diagnostics
      - name: Show versions
        run: |
          rustc --version
          cargo --version

      # Check crate
      - name: Check
        run: cargo check
      - name: Check (no default features)
        run: cargo check --no-default-features
      - name: Check (all features)
        run: cargo check --all-features

      # Test crate
      - name: Test
        run: cargo test
      - name: Test (no default features)
        run: cargo test --no-default-features
      - name: Test (all features)
        run: cargo test --all-features

  # Check code formatting
  format:
    name: Check code formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt --all -- --check
